.outside-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    text-align: center;
}
.inner-body {
    width: 80%;
    background-color: #F2B41F;
    margin: 20px auto;
    padding: 20px;
}
.button-container-Start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.button-container-Start button {
    width: 200px;
    margin-bottom: 10px;
}
